/*
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --main-txt-cl: #212121;
  --accent-txt-cl: #757575;
  --link-txt-cl: #2196f3;

  --dark-bg-color: #2f303a;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visuaaly-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

*/
/**
|===============================
|Header section
|===============================
*/

/*
.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.logo-text-second-black {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-text {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--link-txt-cl);
}
.logo-text-second-white {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.nav {
  margin-right: auto;
}
.nav__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__list--item {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: var(--main-txt-cl);
  transition: color var(--animation);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--link-txt-cl);
}

.nav__link--current {
  position: relative;
  color: var(--link-txt-cl);
}

.nav__link--current::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--link-txt-cl);
}
.header__contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}
.header__contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;

  transition: color var(--animation);
}

.header__contacts__item:last-child {
  margin-left: 30px;
}
/*
.header__contacts .header__contacts__item + .header__contacts__item {
  margin-left: 30px;
}
*/

/*
.header__contacts .link:hover,
.link:focus {
  color: var(--link-txt-cl);
}
.header__contacts__link {
  display: inline-flex;
  align-items: center;
}
.header__contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

*/
/**
|===============================
|Hero section
|===============================



.hero {
  background-color: var(--dark-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__container {
  align-items: center;
}
.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/background/background-hero.jpg);

  background-position: center;
}

.hero__title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero__btn {
  display: flex;
  min-width: 200px;
  min-height: 50px;
  padding: 9px 31px;
  margin-left: auto;
  margin-right: auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;

  background-color: var(--link-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color var(--animation);
}
.hero__btn:hover,
.hero__btn:focus {
  background-color: #188ce8;
}
*/
/**
|===============================
|Features section
|===============================

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: flex;
  gap: 30px;

  margin-top: 0;
  margin-bottom: 0;
}

.features__item {
  width: 270px;
}

.features__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;

  background-color: #f5f4fa;
}

.features__subtitle {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--main-txt-cl);
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.features__desc {
  color: var(--accent-txt-cl);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
*/
/**
|===============================
|Services section
|===============================


.second-title {
  color: var(--main-txt-cl);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.services {
  padding-bottom: 94px;
}

.services__list {
  display: flex;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.services__item {
  position: relative;
}

.services__img-over {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 10px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.services__img-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
*/
/**
|===============================
|Team section
|===============================

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__list {
  display: flex;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;

  padding-left: 5px;
  padding-right: 5px;

  border-top: none;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  margin-bottom: 10px;
}

.team__desc-about {
  color: var(--accent-txt-cl);
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
}
*/
/**
|===============================
|Clients section
|===============================

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.clients__item {
  height: 92px;
  width: 170px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  width: 170px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color var(--animation);
}
.clients-icon {
  fill: #afb1b8;
  transition: fill var(--animation);
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--link-txt-cl);
}

.clients__link:focus .clients-icon {
  fill: var(--link-txt-cl);
}

.clients__link:hover .clients-icon {
  fill: var(--link-txt-cl);
}

*/
/**
|===============================
|Footer
|===============================


.footer {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__section {
  display: flex;
  align-items: baseline;

}
.footer__contacts {
  margin-right: 70px;
}

.footer__logo {
  margin-right: 0;
}
.footer__contacts-adress {
  font-style: normal;
  margin-top: 20px;
}
.footer__item {
  margin-top: 0;
  margin-bottom: 0;

  transition: color var(--animation);
}
.footer__list {
  margin-bottom: 9px;
}

.footer-list:last-child {
  margin-bottom: 0;
}

.contacts-adress {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
}
.contacts-email,
.contacts-phone {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.footer-item .link {
  transition: color var(--animation);
}

.footer-item .link:hover,
.link:focus {
  color: var(--link-txt-cl);
}
*/
/**
|===============================
|Footer MIDDLE SECTION
|===============================


.footer__connect {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 0;
}
.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer__connect-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--animation);
}
.footer-icon {
  fill: #ffffff;
}

.footer__connect-link:hover,
.footer__connect-link:focus {
  background-color: var(--link-txt-cl);
}

.footer__connect-link:hover,
.footer__connect-link:focus .footer-icon {
  fill: #ffffff;
}
*/

/**
|===============================
|Social list
|===============================

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  color: #afb1b8;
  background-color: #ffffff;
  border-radius: 50%;

  transition: background-color var(--animation);
}

.socials-icon {
  fill: currentColor;
  transition: fill var(--animation);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--link-txt-cl);
}
.socials-link:hover .socials-icon {
  fill: #ffffff;
}

.socials-link:focus .socials-icon {
  fill: #ffffff;
}

*/

/**
|===============================
|Footer form
|===============================

.container-footer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.footer-form {
  margin-left: 93px;
  margin-right: 10px;
}

.footer-text {
  margin-bottom: 20px;
}
.footer-imput {
  width: 358px;
  height: 50px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: #ffffff;
  transition: border-color var(--animation);
}

.footer-imput:hover,
.footer-imput:focus-within {
  border-color: var(--link-txt-cl);
}

.footer-button {
  display: flex;
  text-align: center;
  padding: 10px 28px;
  gap: 8px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;

  background-color: var(--link-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color var(--animation);
}

.footer-button:hover,
.footer-button:focus {
  background-color: #188ce8;
}

.footer-icon-button {
  fill: #ffffff;
}
*/
/**
|===============================
|Portfolio list
|===============================



.functional {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.functional__project {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.functional__btn-project {
  font-family: inherit;
  color: var(--main-txt-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;

  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;

  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
}

.functional__btn-project:hover,
.functional__btn-project:focus {
  color: #ffffff;
  background-color: var(--link-txt-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.functional__btn-project--current {
  color: #ffffff;
  background-color: var(--link-txt-cl);
}

/*
.functional-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  cursor: pointer;
}

.item-all {
  color: #ffffff;
  background-color: var(--link-txt-cl);
}

.functional__about {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
}

.functional__about-link {
  display: block;
  transition: box-shadow var(--animation);
}

.functional__about-link:hover,
.functional__about-link:focus {
  color: #ffffff;
  background-color: var(--link-txt-cl);
}

.functional__about-link:hover,
.functional__about-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-top: none;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}
.overlay-project {
  position: absolute;
  background-color: var(--link-txt-cl);
  padding: 63px 24px;

  transform: translateY(0);
  transition: transform var(--animation);
}
.link-project:hover .overlay-project {
  transform: translateY(-100%);
}

.overlay-project-text {
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.03em;
  line-height: 1.5;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

/*.card {
  position: relative;
  overflow: hidden;
}


.projects-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);

  margin-bottom: 4px;
}

.projects-about {
  font-size: 16px;
  line-height: 1.9;
  color: var(--accent-txt-cl);
}

/**
|===============================
|Modal window
|===============================


.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity 250ms ease-out, visibility 250ms ease-out;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);

  width: 530px;
  height: 581px;
  padding: 50px 30px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;

  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill var(--animation);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--link-txt-cl);
}
*/
/**
  |============================
  | Modal form
  |============================


.register-form {
  text-align: center;
}

.register-form-title {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-txt-cl);
}

.register-form-group {
  margin-bottom: 20px;
  width: 448px;
  height: 342px;
}

.register-form-wrap {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.register-form-wrap:last-child {
  margin-bottom: 0;
}

.register-form-label {
  display: block;
  text-align: left;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: #757575;
}

.register-form-input,
.register-form-message {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 14px;
  padding-left: 42px;

  outline: transparent;
  cursor: pointer;

  transition: border-color var(--animation);
}

.register-form-input:hover,
.register-form-input:focus-within {
  border-color: var(--link-txt-cl);
}

.register-form-input:hover + .register-form-icon,
.register-form-input:focus-within + .register-form-icon {
  fill: var(--link-txt-cl);
}

.register-form-message:hover,
.register-form-message:focus-within {
  border-color: var(--link-txt-cl);
}
.register-form-message {
  resize: none;
  height: 96px;
  padding: 10px;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.register-form-icon {
  position: absolute;
  top: 50%;
  left: 3%;
  /*bottom: 14px;
  left: 12px;

  transition: fill var(--animation);
}
.register-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
}
.register-form-agreement-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;

  user-select: none;
  text-underline-position: under;
}

.register-form-agreement-link {
  color: var(--link-txt-cl);
}

.register-checkbox:checked + .register-icon .register-icon-uncheck {
  opacity: 0;
  transition: opacity var(--animation);
}

.register-icon-check {
  opacity: 0;
  transition: opacity var(--animation);
}

.register-checkbox:checked + .register-icon .register-icon-check {
  opacity: 1;
}

.register-form-agreement:focus-within > .register-icon {
  outline: 2px solid #212121;
  border-radius: 2px;
}

.register-form-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 52px;
  margin-bottom: 20px;

  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;

  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}

.register-form-btn:hover,
.register-form-btn:focus {
  background-color: #188ce8;
}
*/
