.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.clients__item {
    height: 92px;
    width: 170px;
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 170px;

    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: border-color var(--animation);

    &:hover,
    &:focus {
            border-color: var(--link-txt-cl);
        }

    &:focus .clients-icon {
                    fill: var(--link-txt-cl);
                }
        
    &:hover .clients-icon {
                    fill: var(--link-txt-cl);
                }
}

.clients-icon {
    fill: #afb1b8;
    transition: fill var(--animation);
}


