.hero {
    background-color: var(--dark-bg-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__container {
    align-items: center;
}

.overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/background/background-hero.jpg);

    background-position: center;
}

.hero__title {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}

.hero__btn {
    display: flex;
    min-width: 200px;
    min-height: 50px;
    padding: 9px 31px;
    margin-left: auto;
    margin-right: auto;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #ffffff;

    background-color: var(--link-txt-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    transition: background-color var(--animation);
    &:hover,
    &:focus {
            background-color: #188ce8;
        }
}

