.register-form {
    text-align: center;
}

.register-form-title {
    display: block;
    align-items: center;
    width: 448px;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-txt-cl);
}

.register-form-group {
    display: flex;
    flex-direction: column;
}

.register-form-wrap {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.register-form-wrap:last-child {
    margin-bottom: 0;
}

.register-form-label {
    display: block;
    text-align: left;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 0.85;
    letter-spacing: 0.01em;

    color: #757575;
}

.register-form-input {
        width: 100%;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;

        padding: 12px;
        padding-left: 42px;

        outline: transparent;
        cursor: pointer;

        transition: border-color var(--animation);

        &:hover,
        &:focus-within {
                border-color: var(--link-txt-cl);
            }
        
        &:hover+.register-form-icon,
        &:focus-within+.register-form-icon {
                fill: var(--link-txt-cl);
            }
    }

.register-form-message {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding: 12px;
    padding-left: 42px;

    outline: transparent;
    cursor: pointer;

    transition: border-color var(--animation);

    &:hover,
    &:focus-within {
            border-color: var(--link-txt-cl);
        }
}


.register-form-message {
    height: 120px;
    width: 100%;
    resize: none;
    margin-bottom: 20px;
    padding: 12px 16px;
}

.register-form-message::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}


.register-form-icon {
    position: absolute;
    top: 55%;
    left: 3%;
    transition: fill var(--animation);
}

.register-form-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
}

.register-form-agreement-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;

    user-select: none;
    text-underline-position: under;
}

.register-form-agreement-link {
    color: var(--link-txt-cl);
}

.register-checkbox:checked+.register-icon .register-icon-uncheck {
    opacity: 0;
    transition: opacity var(--animation);
}

.register-icon-check {
    opacity: 0;
    transition: opacity var(--animation);
}

.register-checkbox:checked+.register-icon .register-icon-check {
    opacity: 1;
}

.register-form-agreement:focus-within>.register-icon {
    outline: 2px solid #212121;
    border-radius: 2px;
}

.register-form-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 52px;

    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    border: none;

    cursor: pointer;

    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
}

.register-form-btn:hover,
.register-form-btn:focus {
    background-color: #188ce8;
}