.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition: opacity 250ms ease-out, visibility 250ms ease-out;

&.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);

    width: 530px;
    height: 581px;
    padding: 50px 30px;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
}

.modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;

    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: fill var(--animation);

    &:hover,
    &:focus {
            fill: var(--link-txt-cl);
        }
}

