:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* text colors */
    --main-txt-cl: #212121;
    --accent-txt-cl: #757575;
    --link-txt-cl: #2196f3;

    /* bg color */
    --dark-bg-color: #2f303a;

    /* others */
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}